[submodule "algorithms/libDaltonLens"]
	path = algorithms/libDaltonLens
	url = https://github.com/DaltonLens/libDaltonLens.git

[submodule "datasets/ishihara-plate-learning"]
	path = datasets/ishihara-plate-learning
	url = https://github.com/DJakarta/ishihara-plate-learning.git
